.logged-in-label {
    padding-bottom: 10px;
}

.form-input {
    margin: 0px 0px 4px 4px;
}

.toggle {
    margin: 10px 0px 10px 0px;
}

.blog-entry {
    padding: 4px;
    margin: 2px 0px 2px 0px;
    border: 1px solid black;
}

.blog-entry button {
    margin: 4px;
}